# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "maven" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      maven-patch:
        update-types: [ "patch" ]
        applies-to: version-updates
    labels: [ "dependencies" ]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels: [ "dependencies" ]
    groups:
      gha-patch-and-minor:
        applies-to: version-updates
        update-types:
        - "minor"
        - "patch"