name: '[ Step ] Publish artifacts with maven'

on:
  workflow_call:
    inputs:
      build_version:
        description: 'The version to be published'
        type: string
        required: true
      build_artifact_id:
        description: 'The id of the uploaded build artifacts.'
        type: string
        required: false
        default: 'build-artifacts'
env:
  BUILD_VERSION: ${{ inputs.build_version }}

jobs:
  PublishOnCentral:
    name: 'Publish to Maven Central'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'
          server-id: 'central'
          server-username: 'SERVER_USERNAME'
          server-password: 'SERVER_PASSWORD'

      - name: (Info) Display build-version
        run: echo ${{ inputs.build_version }}

      #      - name: Download build artifacts
      #        uses: actions/download-artifact@v8
      #        with:
      #          merge-multiple: true
      #          name: build-artifacts-${{ inputs.build_version }}

      - name: Set version
        run: ./mvnw versions:set -DnewVersion=${{ inputs.build_version }} -DgenerateBackupPoms=false

      - name: Publish to Maven Central
        run: ./mvnw -T1C -B -V deploy -Dgpg.signer=bc -DskipTests -Dpublish -Dcentral
        env:
          SERVER_USERNAME: ${{ secrets.SONATYPE_CENTRAL_USERNAME }}
          SERVER_PASSWORD: ${{ secrets.SONATYPE_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}
          MAVEN_GPG_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GITHUB_DEPENDENCY_GRAPH_ENABLED: false

      - name: (Info) Display structure of the files
        if: always()
        run: tree -D

  PublishGitHub:
    name: 'Publish to GitHub packages'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'
          server-id: 'github'
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}

      - name: Download build artifacts
        uses: actions/download-artifact@v8
        with:
          merge-multiple: true
          name: build-artifacts-${{ inputs.build_version }}

      - name: Set version
        run: ./mvnw versions:set -DnewVersion=${{ inputs.build_version }} -DgenerateBackupPoms=false

      - name: Publish to GitHub
        run: ./mvnw -B -V deploy -Dgpg.signer=bc -DskipTests=true -Dpublish -Dgithub
        env:
          GITHUB_TOKEN: ${{ github.token }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}
          MAVEN_GPG_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GITHUB_DEPENDENCY_GRAPH_ENABLED: false
